body {
display: flex;
justify-content: center;
align-items: center;
margin: 0%;
background-color: black;
font-family: 'Montserrat', sans-serif;
background-image: url('/goutham-krishna-h5wvMCdOV3w-unsplash.jpg');
background-size: 100%;


}

.card{
    background-color: #999999d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%; 
    max-width: 450px; 
    margin: 10em;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;


}

input.search-bar{
    padding: .08em 1em;
    border-radius: 5px;
    margin-right: 25px;
    border-color: black;
    border-width: 1px;
    
}

input.search-bar:focus{
    outline-width: 0;
}

.button{
    padding: 1 em;
    font-family: inherit;
}

.temp{
    justify-content: center;
}